<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Control Parent</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-label>
            <h1 style="text-align: center; color: black;">Resolver la siguiente operación:</h1>
            <br>
            <h1 style="text-align: center; color: black;">{{operacion}}</h1>
        </ion-label>
        <br>
        <div class="grid">
            <div class="unidad">
                <ion-button (click)="comprobar(paramApp.res)">
                    <h2>{{paramApp.res}}</h2>
                </ion-button>
            </div>
            <div class="unidad">
                <ion-button (click)="comprobar(paramApp.res1)">
                    <h2>{{paramApp.res1}}</h2>
                </ion-button>
            </div>
            <div class="unidad">
                <ion-button (click)="comprobar(paramApp.res2)">
                    <h2>{{paramApp.res2}}</h2>
                </ion-button>
            </div>
            <div class="unidad">
                <ion-button (click)="comprobar(paramApp.res3)">
                    <h2>{{paramApp.res3}}</h2>
                </ion-button>
            </div>

        </div>
    </ion-card>

</ion-content>